services:
  traefik:
    extends:
      file: ./reverse-proxy/traefik.yaml
      service: traefik

  portainer:
    extends:
      file: ./dashboard/portainer.yaml
      service: portainer

  lavalink:
    extends:
      file: ./media/lavalink.yaml
      service: lavalink

  qbittorrent:
    extends:
      file: ./media/qbittorrent.yaml
      service: qbittorrent

  umami:
    extends:
      file: ./analytics/umami.yaml
      service: umami

  # Monitoring
  prometheus:
    extends:
      file: ./monitoring/prometheus.yaml
      service: prometheus

  grafana:
    extends:
      file: ./monitoring/grafana.yaml
      service: grafana

  node-exporter:
    extends:
      file: ./monitoring/node-exporter.yaml
      service: node-exporter

  cadvisor:
    extends:
      file: ./monitoring/cadvisor.yaml
      service: cadvisor

  # Personal projects
  discord-js-bot:
    extends:
      file: ./projects/discord-js-bot.yaml
      service: discord-js-bot

  strange-api:
    extends:
      file: ./projects/strange-api.yaml
      service: strange-api

  flowbite-admin-dashboard:
    extends:
      file: ./projects/flowbite-admin-dashboard.yaml
      service: flowbite-admin-dashboard

  # Development
  code-server:
    extends:
      file: ./dev/code-server.yaml
      service: code-server

networks:
  proxy:
    name: proxy
    external: true

volumes:
  traefik_letsencrypt:
  portainer_data:
  discord_js_bot_logs:
  prometheus-data:
  grafana-data:
  code-server-config:
  qbittorrent_config:
  qbittorrent_downloads:
